.button-group {
    background-color: rgba(52, 220, 33, 0); 
  }
  
  .button-group .MuiButton-root {
    background-color: rgba(52, 220, 33, 0); /* Цвет фона кнопки */
    color: #ffffff; /* Цвет текста кнопки */
    margin: 0 5px; /* Отступы между кнопками */
  }
  
  .button-group .MuiButton-root:hover {
    background-color: #877ae5; /* Цвет фона кнопки при наведении */
  }
  